<template name="members">
    <div class="panel panel-default">
        <div class="panel-heading" style="position:relative">
            {{#if currentUser}}
                <div class="control-group" style="position:absolute; top:3px; right:3px;">
                        <a class="btn btn-success btn-sm submit" href="{{pathFor 'memberNew'}}">+</a>
                </div>
            {{/if}}

            <h3 class="panel-title">
                <a href="{{pathFor 'members'}}">Members</a>
            </h3>
        </div>
        <div class="staffs panel-body">
            {{#each members}}
                {{> member}}
            {{/each}}
        </div>
    </div>
</template>