template(name='invitation')
    form.main(role='form')
        div.form-group
            label(for='email') Email
            input.form-control(name='email', type='text', value='{{email}}', placeholder='Email', disabled)
        div.form-group
            label(for='name') Name
            input.form-control(name='name', type='text', value='{{profile.name}}', placeholder='Name', disabled)
        div.form-group
            label(for='nickname') Username
            input.form-control(name='nickname', type='text', value='{{profile.nickname}}', placeholder='Username', disabled)
        div.form-group
            label(for='password') Password
            input.form-control(name='password', type='password', value='', placeholder='Password')
            input.form-control(name='password2', type='password', value='' placeholder='Retype your password')

        div.clearfix
            input.btn.btn-primary.submit.pull-right#join(type='submit', value='Join')
        div.form-group
