<template name="memberNew">
    <form class="main" role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" name="name" type="text" value="" placeholder="Name"/>
        </div>
		
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" name="email" type="email" value="" placeholder="Email"/>
        </div>

        <div class="form-group">
            <label for="nickname">Username</label>
            <input class="form-control" name="nickname" type="text" value="{{profile.nickname}}" placeholder="Username"/>
        </div>

        <div class="form-group">
            {{> roles }}
        </div>

        <div class="form-group">
                <input type="submit" value="Create member and send invitation email" class="btn btn-primary"/>
        </div>
    </form>
</template>